$min-color: #225DA4; // 3296FA
$btn-default-color: #ffffff;
$btn-default-bg: #303030;
$btn-default-border: #303030;
body, html {
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  font-family: 'Lora', serif
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  vertical-align: baseline
}

body {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #303030
}

h1 {
  font-size: 3em
}

h2 {
  font-size: 2.5em
}

h3 {
  font-size: 2em
}

h4 {
  font-size: 1.5em
}

h5 {
  font-size: 1em
}

h6 {
  font-size: .75em
}

a {
  color: $min-color;
  outline: 0
}

a:hover {
  color: $min-color
}

a img, a:active, a:focus {
  outline: 0
}

.iconfont {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.btn {
  padding: 7px 14px;
  border-radius: 2px
}

.btn-default {
  border: 1px solid $min-color;
  background: $min-color;
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:focus,
  &.focus {
    outline: 0;
    color: $btn-default-color;
    background-color: darken($btn-default-bg, 10%);
    border-color: darken($btn-default-border, 25%);
  }

  &:hover {
    color: $btn-default-color;
    background-color: darken($btn-default-bg, 10%);
    border-color: darken($btn-default-border, 12%);
  }

  &:active,
  &.active,
  .open > .dropdown-toggle & {
    color: $btn-default-color;
    background-color: darken($btn-default-bg, 10%);
    border-color: darken($btn-default-border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $btn-default-color;
      background-color: darken($btn-default-bg, 17%);
      border-color: darken($btn-default-border, 25%);
    }
  }

  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $btn-default-bg;
      border-color: $btn-default-border;
    }
  }

  .badge {
    color: $btn-default-bg;
    background-color: $btn-default-border;
  }
}
.clearfix {
  *zoom:1;
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both
  }
}
//.btn-default:hover{border:1px solid #303030;background:#303030;color:#fff}
//.btn-default[disabled]{border:1px solid #303030;background:#303030;color:#fff}
input[type=email], input[type=search], input[type=text], input[type=url], textarea {
  padding: 7px 7px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}

input[type=email]:focus, input[type=search]:focus, input[type=text]:focus, input[type=url]:focus, textarea:focus {
  border: 1px solid $min-color;
  outline: 0
}

blockquote {
  border-left: 4px solid $min-color
}

pre {
  padding: 0;
  background: 0 0;
  border: none
}

::-moz-selection {
  color: #fff;
  background: $min-color;
  text-shadow: none
}

::selection {
  color: #fff;
  background: $min-color;
  text-shadow: none
}

//单元素/组件的过渡
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

//页面中的样式
.home-template .main-header {
  padding-top: 62px;
  padding-bottom: 62px;
}

.main-header {
  text-align: center;
  padding: 60px 0;
  background-color: $min-color;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-attachment: scroll;
  background-size: cover;
  transition: background ease .3s;
  .branding {
    font-size: 3.5em;
    color: #303030;

    &:hover {
      text-decoration: none
    }

    img {
      max-width: 100%
    }
  }

  h1 {
    color: #fff
  }
  .header-sign{
    color: #fff;
    font-size: 16px;
  }
}

.btn-doc {
  position: relative;
  border: 1px solid $min-color;
  background-color: transparent;
  margin: 0 2px;
}

@media only screen and (max-width: 767px) {
  .btn-doc {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px
  }
}

.home-template .main-header {
  padding-top: 62px;
  padding-bottom: 62px;
  background-repeat: no-repeat;
  background-position: center 20%;
  -webkit-background-size: cover;
  background-size: cover
}
.fixed-main{
  .main-header{
    padding-bottom: 119px;
  }
}
.main-navigation {
  text-align: center;
  background: #fff;
  border-top: 1px solid #ebebeb;
  border-bottom: 2px solid #e1e1e1;
  &.fixed-navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border: none;
    box-shadow: 0 0 16px rgba(0,0,0,0.08);
  }
  .menu {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      position: relative;

      &.nav-current {
        border-bottom: 2px solid $min-color;
        margin-bottom: -2px;

        a {
          color: $min-color;
        }
      }

      &.red-dot:after {
        content: '';
        display: block;
        background: royalblue;
        border-radius: 50%;
        width: .6em;
        height: .6em;
        top: 30%;
        right: 11px;
        position: absolute
      }

      a {
        text-decoration: none;
        color: #505050;
        line-height: 4em;
        display: block;
        padding: 0 21px
      }

      &:hover > a {
        color: $min-color;
        text-decoration: none
      }
    }
  }
}

@media (max-width: 767px) {
  .main-navigation {
    text-align: left
  }
  .main-navigation .menu li {
    display: block
  }
  .main-navigation .menu li:hover > a {
    color: $min-color;
    text-decoration: none
  }
  .main-navigation .menu li ul {
    visibility: visible;
    padding: 0 0 0 20px;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    opacity: 1
  }
}

.navbar-header {
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  position: relative;
  z-index: 999;
  height: 56px;

  i {
    height: 56px;
    line-height: 56px;
    font-size: 2em;
    cursor: pointer
  }
}

.content-wrap {
  margin-top: 35px;
}

@media (min-width: 768px) {
  .nav-toggle-button {
    display: none
  }
}

.post {
  padding: 35px;
  background: #fff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px 3px #ddd;

  .featured {
    position: absolute;
    background: $min-color;
    color: #fff;
    text-align: center;
    top: -12px;
    right: -32px;
    width: 80px;
    height: 40px;
    line-height: 54px;
    transform: rotate(45deg);

    i {
      transform: rotate(-45deg)
    }
  }

  .post-head {
    text-align: center;

    .post-title {
      color: #666;
      margin: 0;
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: 700;
      a {
        color: #303030;

        &:focus, &:hover {
          text-decoration: none
        }
      }
    }

    .post-meta {
      color: #959595;
      margin: 14px 0 0;
      font-size: 14px;

      span {
        margin: 0 7px;
        white-space: nowrap
      }
    }
  }

  .featured-media {
    margin-top: 30px;
    overflow: hidden;

    img {
      width: 100%;
      transition: transform ease .3s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  &.recent-post-list{
    padding: 0;
    .recent-post{
      padding: 18px 24px;
      display: flex;
      align-items: center;
      text-decoration: none;
      background-color: transparent;
      transition: background-color ease .3s;
      position: relative;
      &:not(:last-child):after{
        content: "";
        position: absolute;
        display: block;
        left: 30px;
        right: 30px;
        bottom: 0;
        border-bottom: 1px dashed #e8e8e8;
      }
      .recent-post-img {
        overflow: hidden;
        width: 65px;
        height: 65px;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        flex: 0 0 auto;
        margin-left: 2rem;
        background-color: #fff;
        border-radius: 2px;
      }
      &:hover{
        background-color: rgba(0,0,0,.01);
        .entry-title {
          color: $min-color;
        }
      }
      .recent-post-content{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
      }
    }

    .entry-date{
      display: block;
      margin-top: 8px;
      color: #bbb;
      font-size: 12px;
      font-weight: 400;
    }
    .entry-title{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
      color: #2e3135;
      margin-bottom: 0;
      transition: color ease .3s;
    }
    .entry-content{
      color: #5d5b5c;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .post-content {
    margin: 30px 0;
  }

  .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
    font-size: 12px;

    .tag-list {
      color: #959595;
      line-height: 28px;

      a {
        color: #959595;
        margin-left: 7px;

        &:hover {
          color: $min-color
        }
      }
    }
  }
}

.post-content {
  color: #5d5b5c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  h1, h2, h3, h4, h5, h6 {
    color: #222223
  }

  h1 {
    font-size: 1.8em;
    margin: .67em 0
  }

  & > h1 {
    margin-top: 0;
    font-size: 2em
  }

  h2 {
    font-size: 1.5em;
    margin: .83em 0
  }

  h3 {
    font-size: 1.17em;
    margin: 1em 0
  }

  h4, h5, h6 {
    font-size: 1em;
    margin: 1.6em 0 1em 0
  }

  h6 {
    font-weight: 500
  }

  p {
    margin-top: 0;
    margin-bottom: 1.46em
  }

  a {
    word-wrap: break-word;
    text-decoration-color: rgba(0, 0, 0, .4);

    &:hover {
      text-decoration-color: rgba(0, 0, 0, .6)
    }

    img {
      border: none
    }
  }

  b, strong {
    font-weight: 700;
    color: #222223
  }

  em, i {
    font-style: italic;
    color: #222223
  }

  img {
    max-width: 100%;
    height: auto;
    margin: .2em 0
  }

  figure {
    position: relative;
    clear: both;
    outline: 0;
    margin: 10px 0 30px;
    padding: 0;
    min-height: 100px;

    img {
      display: block;
      max-width: 100%;
      margin: auto auto 4px;
      box-sizing: border-box
    }

    figcaption {
      position: relative;
      width: 100%;
      text-align: center;
      left: 0;
      margin-top: 10px;
      font-weight: 400;
      font-size: 14px;
      color: #666665;

      a {
        text-decoration: none;
        color: #666665
      }
    }
  }

  hr {
    display: block;
    width: 50%;
    height: 1px;
    border: 0 none;
    border-top: #dededc 1px solid;
    margin: 3.2em auto;
    padding: 0
  }

  blockquote {
    margin: 0 0 1.64em 0;
    border-left: 3px solid $min-color;
    padding-left: 12px;
    color: #666664;

    a {
      color: #666664
    }
  }

  ol, ul {
    margin: 0 0 24px 6px;
    padding-left: 16px
  }

  ul {
    list-style-type: square
  }

  ol {
    list-style-type: decimal
  }

  li {
    margin-bottom: .2em;

    ol, ul {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 14px
    }

    ul {
      list-style-type: disc;

      ul {
        list-style-type: circle
      }
    }

    p {
      margin: .4em 0 .6em
    }
  }

  .unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  code, tt {
    color: grey;
    font-size: .96em;
    background-color: #f9f9f7;
    padding: 1px 2px;
    border: 1px solid #dadada;
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word
  }

  pre {
    margin: 1.64em 0;
    padding: 7px;
    border: none;
    border-left: 3px solid #dadada;
    padding-left: 10px;
    overflow: auto;
    line-height: 1.5;
    font-size: .96em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #4c4c4c;
    background-color: #f9f9f7;

    code, tt {
      color: #4c4c4c;
      border: none;
      background: 0 0;
      padding: 0
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    font-size: .96em;
    box-sizing: border-box;

    pre {
      margin: 0;
      padding: 0;
      border: none;
      background: 0 0
    }
  }

  td, th {
    text-align: left;
    padding: 4px 8px 4px 10px;
    border: 1px solid #dadada
  }

  td {
    vertical-align: top
  }

  tr:nth-child(even) {
    background-color: #efefee
  }

  iframe {
    display: block;
    max-width: 100%;
    margin-bottom: 30px
  }

  figure iframe {
    margin: auto
  }
}

@media (min-width: 1100px) {
  .post-content blockquote {
    margin-left: -24px;
    padding-left: 20px;
    border-width: 4px;

    blockquote {
      margin-left: 0
    }
  }
  .post-content figure {
    img {
      margin: 0 0 4px
    }

    figcaption {
      position: absolute;
      left: -172px;
      width: 150px;
      top: 0;
      text-align: right;
      margin-top: 0;

      &:before {
        width: 25%;
        margin-left: 75%;
        border-top: 1px solid #dededc;
        display: block;
        content: "";
        margin-bottom: 10px
      }
    }
  }
}

.windows .post-content {
  font-size: 14px;
  font-family: Georgia, SimSun, sans-serif
}

.post-permalink {
  text-align: center
}

.more-link {
  display: inline-block;
  margin-top: 10px;
  border-bottom: 2px solid #eee;
  font-size: 14px;
  font-style: italic;
  line-height: 25px;
  color: #2f2e2e;
  transition: color ease .3s;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: $min-color;
    transition: width ease .3s;
  }
  &:hover{
    color: $min-color;
    text-decoration: none;
    &:before{
      width: 100%;
    }
  }
}

.pagination {
  margin: 0 0 35px;
  text-align: center;
  display: block
}

.pagination a {
  text-align: center;
  display: inline-block;
  color: #fff;
  background: $min-color;
  border-radius: 2px
}

.pagination a a:hover {
  background: #505050;
  text-decoration: none;
  color: #fff
}

.pagination a i {
  width: 36px;
  height: 36px;
  line-height: 36px
}

.pagination .page-number {
  background: $min-color;
  color: #fff;
  margin: 0 3px;
  display: inline-block;
  line-height: 36px;
  padding: 0 14px;
  border-radius: 2px
}

.about-author {
  background: #fff;
  padding: 35px;
  margin-bottom: 35px;

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%
  }

  .details {
    margin-left: 114px
  }

  .author {
    font-size: 1.5em;
    margin-bottom: 7px;

    a:hover {
      text-decoration: none
    }
  }

  .meta-info {
    color: #959595;
    margin-bottom: 7px;

    span {
      margin-right: 14px;
      white-space: nowrap;

      i {
        margin-right: 7px
      }
    }
  }
}

.prev-next-wrap {
  margin-bottom: 35px;
  text-align: center
}

@media (max-width: 767px) {
  .prev-next-wrap a {
    display: block
  }
}

.sidebar .widget {
  background: #fff;
  padding: 28px 30px;
  box-shadow: 1px 2px 3px #ddd;
}

.tag-info-box{
  background-color: #f8f9fa;
}

.main-footer .widget {
  padding: 0 30px
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.widget {
  //text-align: center;
  margin-bottom: 35px;

  .title {
    margin-bottom: 16px;
    color: #2f2e2e;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.6px;
  }

  .widget-about {
    text-align: center;

    .about-img-wrap {
      padding-top: 12px;

      a {
        display: inline-block;
        overflow: hidden;
      }

      img {
        transition: transform ease .3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    p {
      margin-top: 17px;
      color: #4f4c4d;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    .about-signature {
      margin-top: 18px;
      text-align: center;
      color: #262324;
      font-size: 22px;
      width: 120px;
      height: 23px;
      font-weight: 400;
      line-height: 22px;
      font-style: italic;
      overflow: hidden;
    }
  }

  .community {
    text-align: center;

    a {
      display: inline-block;
      margin: 0 5px;
      width: 36px;
      height: 36px;
      border: 1px solid #eeeded;
      border-radius: 50%;
      color: #2f2e2e;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      text-decoration: none;
      transition: color ease .3s;

      &:hover {
        color: $min-color;
      }
    }
  }

  &.widget-subscribe-recent {
    padding-bottom: 39px;
    a{
      text-decoration: none;
    }
    .recent-post {
      display: block;
      .recent-post-img {
        overflow: hidden;
        width: 85px;
        border: 1px solid #fff;
        float: left;
        img {
          width: 100%;
          display: block;
          transition: transform ease .3s;
        }
      }
      &:hover{
        .entry-title {
          color: $min-color;
        }
        .recent-post-img img {
          transform: scale(1.1)
        }
      }
    }

    ul {
      padding-top: 13px;
      padding-inline-start: 0;
      margin: 0;
      li{
        list-style: none;
        &:not(:last-child) {
          margin-bottom: 17px;
          .recent-post {
            padding-bottom: 16px;
            border-bottom: 1px dashed #e8e8e8
          }
        }
      }
    }

    .recent-post-content {
      padding-left: 13px;
      overflow: hidden;
      line-height: 1;
    }

    .entry-title {
      margin: 0;
      color: #2f2e2e;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
    }

    .entry-date {
      display: block;
      margin-top: 8px;
      color: #bbb;
      font-size: 12px;
      font-weight: 400
    }

  }

  .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    transition: all .2s ease;

    &:hover {
      color: #fff;
      background: $min-color;
      border: 1px solid $min-color;
      text-decoration: none
    }
  }
  .friend-links{
    a{
      display: block;
      color: #2f2e2e;
      font-size: 13px;
      font-weight: 400;
      line-height: 37px;
      text-decoration: none;
      transition: color ease .3s;
      &:not(:last-child) {
        border-bottom: 1px dashed #bbb;
      }
      &:hover{
        color: $min-color;
      }
    }
  }

  .social {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 2px 5px 0;
      text-align: center;

      a i {
        width: 35px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #ebebeb;
        color: #959595;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s
      }

      &:hover i {
        color: #fff;
        background: $min-color;
        border: 1px solid $min-color
      }
    }
  }
}

.widget .newsletter .input-group {
  margin-bottom: 10px;
  display: block
}

.widget .newsletter .input-group .email, .widget .newsletter .input-group .btn {
  width: 100%
}

.widget .ad {
  text-align: center
}

.widget .ad img {
  max-width: 100%
}

.cover {
  text-align: center;
  background: #fff;
  padding: 35px;
  margin-bottom: 35px
}

.cover .tag-name {
  margin-top: 0
}

.cover .post-count {
  margin-top: 7px;
  color: #959595
}

.cover .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%
}

.cover .meta-info {
  color: #959595
}

.cover .meta-info span {
  margin: 0 7px
}

.cover .meta-info span i {
  margin-right: 7px
}

.cover .bio {
  margin-top: 7px
}

.main-footer {
  text-align: center;
  padding: 40px 0 60px;
  margin-top: 10px;

  a {
    font-size: 30px;
    color: #333;
    margin: 0 10px;
    transition: color 0.6s;

    &:hover {
      color: $min-color;
    }
  }
}

.main-footer .widget .title {
  color: #fff;
  border-bottom: 1px solid #303030
}

.main-footer .widget .tag-cloud a {
  border: 1px solid #303030
}

.main-footer .widget .tag-cloud a:hover {
  border: 1px solid $min-color
}

.main-footer .widget .friend-links a {
  border: none
}

.main-footer .widget .friend-links a:hover {
  border: none
}

.main-footer .widget .friend-links hr {
  margin: 1em 0;
  border-top: 1px dashed #303030
}

.main-footer .widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #303030
}

.main-footer .widget .recent-post .recent-single-post .post-title {
  color: #959595
}

.main-footer .widget .recent-post .recent-single-post .post-title:hover {
  color: $min-color
}

.main-footer .widget .recent-post .recent-single-post .date {
  color: #505050
}

.copyright { /*background:#111;*/
  font-size: 13px;
  text-align: center;
  color: #555;
  padding-top: 28px;
  padding-bottom: 28px; /*border-top:1px solid #303030*/
}

.copyright span {
  margin: 0 .5em
}

.copyright a {
  color: #555
}

#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(34, 93, 164, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
}

#back-to-top:hover {
  background: $min-color
}

#back-to-top i {
  width: 30px;
  height: 30px;
  line-height: 30px
}

.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}

.article-inner,
.archive-article-inner {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-radius: 3px;
}

.archives-wrap {
  margin: 50px 0;
}

.archives {
  zoom: 1;
}

.archives:before,
.archives:after {
  content: "";
  display: table;
}

.archives:after {
  clear: both;
}

.archive-year-wrap {
  margin-bottom: 1em;
  line-height: 1em;
}

.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}

.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
  display: block;
}

.archive-article-inner:hover {
  text-decoration: none
}

.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
  font-size: 14px;
}

.archive-article-header h1 {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.archive-article-inner:hover .archive-article-title {
  text-decoration: none;
  color: $min-color;
}

.archive-article-footer {
  margin-top: 1em;
}

.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
